/* =============main页面主体============= */
#main {
    position: relative;
    width: 100%;
}

#content {
    position: absolute;
    width: 92%;
    margin: 0 auto;
    padding: 30px;
    top: -70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
    text-align: center;
    border-radius: 7px 7px 0 0;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
            box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
   
}

@media (max-width: 768px) {
    #content {
        position: inherit;
        width: 100%;
        margin: auto;
        padding: 10px;
        top: 0;
        border-radius: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}

/* 作品区块 */
.item {
    margin: 0;
}

.item h3 {
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    margin: 20px 0 13px 0;
}

.item span {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

#item-list {
    position: relative;
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 0;
            column-gap: 0;
}

.list-items {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
}

.item-content {
    width: 100%;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0px 1px 0px 0px #eaeaea;
            box-shadow: 0px 1px 0px 0px #eaeaea;
}

.item-content p {
    font-size: 14px;
    color: #93999f;
}

.item-content h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #2B333B;
    margin-top: 5px;
}

.item-content img {
    width: 100%;
}

@media (max-width: 600px) {
    #item-list {
        -webkit-column-count: 1;
                column-count: 1;
    }
}

@media (min-width: 600px) and (max-width: 1100px) {
    #item-list {
        -webkit-column-count: 2;
                column-count: 2;
    }
}

/* blog区块 */
.blog {
    width: 100%;
    height: 250px;
    background-image: url(../img/blog.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.blog-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
}

.blog-content h3 {
    position: absolute;
    left: 100px;
    top: 104px;
    font-size: 45px;
    color: #fff;
}

.blog-content a {
    position: absolute;
    right: 180px;
    top: 110px;
    border-radius: 5px;
    color: #fff;
    background: #e91e63;
    padding: 12px 30px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
            box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.blog-content a:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
            box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

@media (max-width: 768px) {
    .blog {
        display: none;
        background-image: none;
    }
}

/* 邮我区块 */
.contact {
    height: 250px;
    background-image: url(../../img/contact.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.contact-content {
    /* position: relative; */
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 95px 0 0 100px;
}

.contact-content h3 {
    float: left;
    font-size: 45px;
    margin-right: 20px;
}

.contact-content p {
    display: inline-block;
    float: left;
    font-size: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .contact {
        display: none;
        background-image: none;
    }
}

/* ==============footer部分=========== */
footer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background: #323437;
    height: 200px;
    color: #fff;
    padding: 100px 50px 0 50px;
}

.footer-border {
    width: 100%;
    border-top: 1px solid #eee;
}

.footer-border ul {
    width: inherit;
    height: 50px;
    line-height: 50px;
    float: left;
}

.footer-border li {
    margin-right: 20px;
    float: left;
    color: #fff;
}

.footer-border li a {
    -webkit-transition: .2s all linear;
    transition: .2s all linear;
    color: #fff;
}

.footer-border li a:hover {
    color: #e91e63;
}

@media (max-width: 768px) {
    footer {
        height: 100px;
        padding: 25px 0 0 0;
    }

    .footer-border {
        border-top: none;
    }
}